body {
  font-family: sans-serif;
}

form {
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: right;
  margin-right: .3em;
  margin-left: 1em;
}

label:first-of-type {
  width: 90px;
  margin-left: 0;
}

input {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
  background-color: blue;
  color: white;
}

/* Styling for Search Page */
.results {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 900px) {
  .results { grid-template-columns: repeat(2, 1fr); }
}
/* .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 2em;
} */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #F0F0F0;
  margin-bottom: 2em;
  margin-right: 2em;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.container h2 {
  margin-bottom: -10px;
}

/* .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -20px;
} */
.info {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  margin-top: -20px;
}
@media (min-width: 586px) {
  .info { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 585px) {
  .info .registration-methods { margin-top: -1.5rem; }
}

.voting-methods h5 {
  margin-bottom: -10px;
}

.registration-methods h5 {
  margin-bottom: -10px;
}
